@{
    ViewData["Title"] = "Política de Privacitat";
}
<h1>@ViewData["Title"]</h1>

<p>
    A través d'aquest lloc web no es demanen dades de caràcter personal de les persones usuàries sense el seu coneixement, ni se cedeixen a tercers.
    Amb la finalitat d'oferir-vos el millor servei i amb l'objecte de facilitar-ne l'ús, s'analitzen el nombre de pàgines visitades, el nombre de visites, així com l'activitat de les persones visitants i la seva freqüència d'utilització. A aquest efecte, l‟Agència Espanyola de Protecció de Dades (AEPD) utilitza la informació estadística elaborada pel Proveïdor de Serveis d‟Internet.
    L'AEPD no utilitza cookies per recollir informació de les persones usuàries, ni enregistra les adreces IP d'accés. Únicament s'utilitzen cookies pròpies, de sessió, amb finalitat tècnica (aquelles que permeten la navegació a través del lloc web i la utilització de les diferents opcions i serveis que hi existeixen).
    El portal del qual és titular l'AEPD conté enllaços a llocs web de tercers, les polítiques de privadesa dels quals són alienes a la de l'AEPD. En accedir a aquests llocs web vostè pot decidir si accepta les seves polítiques de privadesa i de cookies. Amb caràcter general, si navega per internet vostè pot acceptar o rebutjar les galetes de tercers des de les opcions de configuració del seu navegador.
</p>

<h3>Informació bàsica sobre la protecció de dades</h3>

<p>A continuació us informem sobre la política de protecció de dades de l'Agència Espanyola de Protecció de Dades.</p>

    <h3>Responsable del tractament</h3>

    <p>
        Les dades de caràcter personal que es puguin demanar directament de la persona interessada seran tractades de forma confidencial i quedaran incorporades a la corresponent activitat de tractament titularitat de l'Agència Espanyola de Protecció de Dades (AEPD).
        La relació actualitzada de les activitats de tractament que l'AEPD duu a terme es troba disponible al següent enllaç al registre d'activitats de l'AEPD.
    </p>

    <h3>Finalitat</h3>

    <p>La finalitat del tractament de les dades correspon a cadascuna de les activitats de tractament que realitza lAEPD i que estan accessibles en el registre dactivitats de tractament.</p>

    <h3>Legitimització</h3>

    <p>
        El tractament de les vostres dades es realitza per al compliment d'obligacions legals per part de l'AEPD, per al compliment de missions realitzada en interès públic o en l'exercici de poders públics conferits a l'AEPD, així com quan la finalitat del tractament requereixi el seu consentiment , que haurà de ser prestat mitjançant una clara acció afirmativa.
        Podeu consultar la base legal per a cadascuna de les activitats de tractament que duu a terme l'AEPD al següent enllaç al registre d'activitats de l'AEPD.
    </p>

    <h3>Conservació de dades</h3>

    <p>Les dades personals proporcionades es conservaran durant el temps necessari per complir amb la finalitat per a la qual es demanaven i per determinar les possibles responsabilitats que es poguessin derivar de la finalitat, a més dels períodes establerts a la normativa d'arxius i documentació.</p>

    <h3>Comunicació de dades</h3>

    <p>
        Amb caràcter general no es comunicaran les dades personals a tercers, excepte obligació legal, entre les quals poden estar les comunicacions al Defensor del Poble, Jutges i Tribunals, persones interessades en els procediments relacionats amb les reclamacions presentades.
        Podeu consultar els destinataris per a cadascuna de les activitats de tractament que duu a terme l'AEPD al següent enllaç al registre d'activitats de l'AEPD.
    </p>

    <h3>Drets de les persones interessades</h3>

    <p>
        Per sol·licitar l'accés, la rectificació, supressió o limitació del tractament de les dades personals oa oposar-se al tractament, en el cas que es donin els requisits establerts al Reglament General de Protecció de Dades, així com a la Llei Orgànica 3/2018, de 5 de desembre, de Protecció de Dades Personal i garantia dels drets digitals, podeu adreçar un escrit al responsable del tractament, en aquest cas, l'AEPD, dirigint-lo a l'Agència Espanyola de Protecció de Dades, C/Jorge Juan, 6, 28001-Madrid o al registre electrònic de l'AEPD
    </p>
